<div class="row">
  <div class="col-xs-12">
    <h1>Login</h1>
  </div>
  <hr>
  {{x-input label='Email' value=model.email classNames='col-xs-12'}}
  {{x-input label='Password' type="password" value=model.password classNames='col-xs-12'}}
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary"
      onclick={{route-action 'login' model.email model.password}}>
      Login
    </button>
    <div class="pull-right">
      {{link-to 'Register' 'auth.register'}}
    </div>
  </div>
</div>