<div class="row">
  <div class="col-xs-12">
    <h1>Register</h1>
  </div>
  <hr>
  {{x-input
      label='Email'
      classNames='col-xs-12'}}
  {{x-input
      label='Password'
      type="password"
      classNames='col-xs-12'}}
  {{x-input
      label='Confirm Password'
      type="password"
      classNames='col-xs-12'}}
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary">Register</button>
    <div class="pull-right">
      {{link-to 'Login' 'auth.login'}}
    </div>
  </div>
</div>