<div class="posts-index">
  <div class="posts-left">
    <div class="posts-left-search">
      <input
        class='posts-search-field'
        type='search'
        placeholder='🔎 Search'/>
    </div>
    <div class="posts-left-content">
      <div class="posts-left-content-pane">
      {{#each model as |post|}}
        {{post-tile model=post}}
      {{/each}}
      </div>
    </div>
  </div>
  <div class="posts-right">
    {{outlet}}
  </div>
</div>
